<!DOCTYPE html>
<html>

<head>
    <title>
        <%=htmlWebpackPlugin.options.title %>
    </title>
    <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <% } %>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=0,minimal-ui,width=device-width">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="manifest" href="/manifest.json">
    <link href="style.css" rel="stylesheet">
</head>

<body>
        <input type="checkbox" id="switch" checked>
        <label for="switch" class="switch-label">Turn </label>

    <div class="container">
        <div id="emulator" class="screen"></div>
        <div class="overlay">CHIP 8 Emulator</div>
    </div>

    <noscript>You need to enable JavaScript to run this app. </noscript>
</body>

</html>
